<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>设备列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">设备</a>
                <a>
                    <cite>设备列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-md12">

            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">

                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="imei" placeholder="请输入IMEI" autocomplete="off" class="layui-input"></div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>


                <div class="layui-card-header">

                    <button class="layui-btn" th:onclick="|xadmin.open('添加设备','@{/admin/device/toEdit}',800,600)|" >
                        <i class="layui-icon"></i>添加</button></div>

                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>IMEI</th>
                            <th>别名</th>
                            <th>备注</th>
                            <th>模块型号</th>
                            <th>添加时间</th>
                            <th>状态</th>
                            <th>操作</th></tr>
                        </thead>
                        <tbody>
                        <tr th:each="device:${deviceList}">
                            <td th:text="${device.userDeviceId}">1</td>
                            <td th:text="${device.imei}">imei</td>
                            <td th:text="${device?.alias}">alias</td>
                            <td th:text="${device?.remark}">imei</td>
                            <td th:text="${device?.model}">1</td>
                            <td th:text="${#temporals.format(device?.addTime,'yyyy-MM-dd HH:mm:ss')}">1</td>
                            <td th:text="${device?.state}">1</td>
                            <td class="td-manage">

                                <a title="查看" th:onclick="|xadmin.open('编辑设备','@{/admin/device/toEdit(userDeviceId=${device.userDeviceId})}',800,600)|" href="javascript:;">
                                    <i class="layui-icon">&#xe63c;</i></a>

                                <a title="设置管脚" th:onclick="|xadmin.open('设置管脚','@{/admin/device/toEdit(userDeviceId=${device.userDeviceId})}',800,600)|" href="javascript:;">
                                    <i class="layui-icon">&#xe63c;</i></a>
                                <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">

                    <div class="page" th:replace="admin/currency/_currency :: pagination" ></div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
$(function(){


    init();


})

    </script>

</html>